* {
    z-index: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

video {
  flex: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.button1 {
  display: flex;
  position: absolute;
  object-fit: cover;
  left: 47%;
  top: 65%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  padding: 15px;
}

.button2 {
  flex: 0;
  left: 28.7%;
  top: 62%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  width: 21%;
  height: 5.6%;
}

.button3 {
  position: absolute;
  left: 51%;
  top: 62%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  width: 21%;
  height: 5.6%;
}